<configuration>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Appender console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n
            </pattern>
        </encoder>
    </appender>

</configuration>
